page-home {
  .masters{
    background : url("../assets/imgs/pic4.jpg");

}
.logo_image
{
    position: relative;
    margin-top:50px;
}
.header_icon{
  width: 30px;
  height: 30px;
  font-family: sans-serif;
}

.another{
  margin-top: 30%;
  margin-bottom: 30%;
  text-align: center;
//     // width: 120px;
//     // height: 90px;
//     font-family: sans-serif;
//     position: absolute;
//     margin-left: 20%;
//     margin-top: 10%;
//     // border-radius: 15%;

}

}
