page-page1 {
  .masters{
    background : url("../assets/imgs/pic4.jpg");

}
.header_icon{
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    position: absolute;
    // margin-left: 40%;
}
#login-box{
    margin: 40% auto;
    position: relative;
    width: 200px;
    height: 400px;
    border-radius: 5%;
    font-family: sans-serif;
    border-radius: 5px;
    transition: 0.3s ease;
}
input[type="text"],input[type="password"]
{

    border-radius: 10px;
    color: black;
    transition: 0.3s;
    font-family: sans-serif;
    border: none;
}
input[type="submit"]
{
    width: 120px;
    height: 60px;
    background: orangered;
    border-radius: 2px;
    color: whitesmoke;
    transition: 0.3s ease;
    font-family: sans-serif;
    border: none;
    margin-left: 20% ;
    font-weight: 300;
}
.signup_page{
    width: 2% auto;
    margin-left:15%;

}
.new{
  position: absolute;
  top: 30%;
  bottom: 30%;
  margin-left: 10%;
}

.header_icon2{
  width: 120px;
  height: 90px;
  font-family: sans-serif;
  position: absolute;
  margin-left: 31%;
  margin-top: 10%;
  border-radius: 15%;
}

.remember{
  text-align: center;
  margin-left: 30%;
  font-family: sans-serif;
  font-weight: bolder;
}

}
